examples/dynamicfusion/
examples/arap_mesh_deformation/cmake-build-debug/
examples/cotangent_mesh_smoothing/.idea/
examples/cotangent_mesh_smoothing/cmake-build-debug/
examples/robust_nonrigid_alignment/cmake-build-debug/
examples/embedded_mesh_deformation/cmake-build-debug/
examples/embedded_mesh_deformation/.idea/
examples/shared/make_template.inc.bk
examples/robust_nonrigid_alignment/.idea/
API/release/bin/*
API/release/lib/*
examples/.idea/
tests/minimal/.idea/
tests/minimal/cmake-build-debug/
examples/arap_mesh_deformation/.idea/
examples/cmake-build-debug/
*/*/*.d
*/*/*.o
*/*/*/*.d
*/*/*/*.o


/API/common/Opt.dll
/API/common/Opt.exp
/API/common/Opt.lib

/API/Opt.dll
/API/Opt.exp
/API/Opt.lib

